// https://www.canva.com/learn/website-color-schemes/ 11. cool vs warm
$colorBgStart: #233237;
$colorBgEnd: #18121e;

// https://www.color-hex.com/color-palette/1294
$colorPrimary: #005b96;
$colorPrimaryDark: #03396c;
// https://www.canva.com/learn/website-color-schemes/ 14. Tint and Tones
$colorSecondary: #94618e;
$colorSecondaryDark: #49274a;
